@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000000;
  --primary-color: #5680E9;
  --secondary-color: #59EBCB;
  --background-color: #C1C8E4;
  --gradient-start-color: #8860D0;
  --gradient-end-color: #84CEEB;
}
/* 
@keyframes begin-gradient-background {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
} */

@keyframes gradient-background {
  50% {
    background-position: 100% 100%;
  }
  0%, 100% {
    background-position: 0% 0%;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground-color);
  background: var(--background-color);
  background-repeat: no-repeat;
}

.gradient-border {
  --border-width: 2px;
  padding: 1rem;
  border: var(--border-width) solid transparent;
  border-radius: calc(var(--border-width) * 2);
  background: var(--background-color);
  position: relative;
}

.gradient-border::after {
  content: '';
  position: absolute;
  top: calc(-2 * var(--border-width));
  left: calc(-2 * var(--border-width));
  height: calc(100% + var(--border-width) * 4);
  width: calc(100% + var(--border-width) * 4);
  background: linear-gradient(
    60deg,
    var(--gradient-start-color),
    var(--gradient-end-color),
    var(--gradient-start-color),
    var(--gradient-end-color)
  );
  background-size: 300% 300%;
  border-radius: calc(2 * var(--border-width));
  z-index: -1;
  background-position: 0% 0%;
  animation: gradient-background 4s ease 0s infinite alternate;
}